---
layout: layouts/base.njk
permalink: /404.html
title: Not found
eleventyExcludeFromCollections: true
---
<div class="wrap narrow">
  <h1>That recipe isn&rsquo;t here</h1>
  <p>The page you were after doesn&rsquo;t exist. <a href="/">Back to all recipes</a>.</p>
</div>
